.grid{
	display: grid;
	grid-template-columns: 200px 1fr 200px; 
	grid-template-rows:100px auto 100px;

}

.grid-item{
	padding: 5px;
	background: #000;
	color: #fff;
	border-radius: 5px;
	border: 1px solid red;
}

