.owl_wrap{
	width: 70%;
	height: 400px;
	background-color: #38B263;

}
.item{
	width: 205px;
	height: 300px;
	background-color: #476BE0;
	/*margin-left: 10px;*/
	border: 1px solid;
	margin-top: 20px;
}

.center .item{
	transform: scale(1.3);
	background-color: #B59731;
	
}

/*Здесь мы задали отступы что бы 
не закрывались увеличенные габариты */
.owl-stage-outer{
	padding: 45px 0 !important;
}

/*
здесь мы задали индекс чтобы
центральный слайд был выше
всех слайдов
*/
.owl-stage .center{
	position: relative;
	z-index: 20;

}