*{
	margin: 0;
	bottom: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.chat_wrapper{
	border: 2px solid #8F8AEF;
	width: 320px;
	margin: 0 auto;
	height: 600px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #190B5E;
}
.chat{
	border: 2px solid #8F8AEF;
	height: 500px;
	padding: 5px;

}
.chat_content{
	list-style-type: none;
	border: 2px solid #8F8AEF;
	height: 100%;
	background-color: #C9BEBE;
	overflow: auto;
}
.chat_control{
	border: 2px solid #8F8AEF;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	/*justify-content: space-between;*/
	padding: 5px;
	padding-right: 0;
	height: 100px;
}
#text_message{
	width: 80%;
	outline: none;
	border-radius: 10px;
	padding: 5px;
	height: 50px;
	font-size: 1.3em;
	font-family: sans-serif;
	background-color: #C9BEBE;

}
.send_message{
	background-color: #1AB730;
	color: #fff;
	font-family: sans-serif;
	outline: none;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}

.name{
	position: relative;
	font-family: sans-serif;
	color: #130FBD;
	font-weight: 600;
}
.name:before{
	content: 'from:';
	font-weight: 300;
	color: black;
	position: absolute;
	transform: translateX(-110%);
	font-size: 9px;
	bottom: 0;

}
.message{
	position: relative;
	font-family: sans-serif;
}

.message:before{
	content: 'message:';
	font-weight: 300;
	color: black;
	position: absolute;
	transform: translateX(-105%);
	font-size: 9px;
	top: 0;
}
.chat_content li{
	position: relative;
	margin-bottom: 10px;
}
.chat_content li:after{
	content: '';
	width: 100%;
	height: 2px;
	background-color: #7F78DB;
	position: absolute;
	bottom: -10px;
	left: -20px;
	/*transform: translateX(-50%);*/
}

.sender{
	display: block;
	width: 80%;
	height: 30px;
	background-color: #C9BEBE;
	border-radius: 10px;
	outline: none;
	padding: 5px;
	font-family: sans-serif;
	font-size: 1.3em;
}

.cont_wr{
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 5px;


}

.first{
	font-size: 1.2em;
	font-weight: 600;
}

@media screen and (max-width: 600px){
	.chat_wrapper{
		width: 100%;
		height: 100vh;
	}
	.chat{
		height: 80%;
	} 
}